<div id="nt-page-home">
    AcmeCorp Homepage
    <first-component ref="myFirstComponent"></first-component>
</div>

@section scripts {
    <script src="/dist/js/components/vendors.js"></script>
    <script src="/dist/js/components/home.js"></script>
}
