AcmeCorp Homepage

<div id="app">
    <first-component ref="myFirstComponent"></first-component>
</div>

@section scripts {
    <script src="/dist/js/components/vendors.js"></script>
    <script src="/dist/js/components/homepage.js"></script>
}